/* -------------- root ------------- */
:root{
        /*  background Color  */
    --bg-Primary-Color : #222;
    --bg-Fill-Color :#fdfdfd ;

       /* Text Colors */
    --text-Primary-Color : #f2f2f2 ;

      /* spacing Varible */
    --space-xs :0.4rem;
    --space-sm : 0.8rem;
    --space-md: 1.6rem;
    --space-lg : 2.4rem;
    --space-xl : 3.2rem;
    --space-2xl : 4rem;

       /* Border colors*/
    --border-Primary-Color : #555;
     
       /* Border Radius */
    --border-Radius-Xs : 0.4rem;
    --border-Radius-Sm : 0.8rem;
    --border-Radius-md : 1.2rem;
    --border-Radius-lg : 1.6rem;
    --border-Radius-Xlg: 2rem;
    
      /* Font Size */
    --font-Size-s :1rem;
    --font-Size-Md : 2rem;
    --font-Size-Lg :2.6rem;
    --font-Size-Xl : 3rem;
    
}
/* ------------- Base ------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    background-color: var(--bg-Primary-Color);
    color: var(--text-Primary-Color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,
section{
    width: 100%;
    height: 100vh;
}
section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-md);
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info{
    font-size: var(--font-Size-s);
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-Primary-Color);
    border-radius: var(--border-Radius-Sm);
}
.board{
    width: 100%;
    border: 1px solid var(--border-Primary-Color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem,  1fr));
    grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
}
.block{
    width: 4rem;
    height: 4rem;
    border: 1px solid #777;
}
.fill{
    background-color:  var(--bg-Fill-Color);
}