:root {
    --bg-Color: #1a1a1a;
    --bg-taskColumn-Color :#2a2a2a;
    --primary-Color: #f5f5f5;
    --bg-button-Color: #333;
    --bg-task-Color: #4f4f4f63;
    --bg-delete-button-Color : red;
    --bg-addTask-buttton : green;
    --bg-modal-Color : #292929;

    /* padding variable */
    --nav-padding: 1.5rem 3rem;
    --section-padding: 1.5rem 3rem;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-l: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 3rem;

    /* font size */
    --font-sm: 1rem;
    --font-md: 1.8rem;
    --font-l: 2.8rem;
    --font-xl: 4rem;

    /* Border radius variable */
    --border-radius-s: 0.5rem;
    --border-radius-md: 1rem;
    --border-redius-l: 1.5rem;
    --border-redius-xl: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    background-color: var(--bg-Color);
    color: var(--primary-Color);
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    font-size: var(--font-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nav-padding);
}

nav button {
    background-color: var(--bg-button-Color);
    border-radius: var(--border-radius-md);
    border: none;
    outline: none;
    color: var(--primary-Color);
    padding: var(--padding-md) var(--padding-l);
    cursor: pointer;
}

section {
    display: flex;
    gap: var(--padding-xxl);
    flex-grow: 1;
    justify-content: space-between;
    padding: var(--section-padding);
}

section .task-column {
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
    font-size: var(--font-md);
    padding: var(--padding-l);
    flex-grow: 1;
    background-color: var(--bg-taskColumn-Color);
    border-radius: var(--border-radius-md);
    transition: all 0.3s linear;
}
section .task-column.hover-over{
   border: 2px dashed var(--primary-Color); 
   scale: 1.02;
}
section .task-column .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
section .task-column .task {
    display: flex;
    flex-direction: column;
    padding: var(--padding-sm) var(--padding-md);
    gap: var(--padding-sm);
    background-color: var(--bg-task-Color);
    border-radius: var(--border-radius-md) ;
    overflow: hidden;
    cursor: grab;
}
section .task-column .task button{
    align-self: end;
    cursor: pointer;
    padding: var(--padding-sm) var(--padding-md);
    border: none;
    border-radius: var(--border-radius-s);
    background-color: var(--bg-delete-button-Color);
    color: var(--primary-Color);
    letter-spacing: 1px;
    font-weight: 700;
}
.modal{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.active{
    display: flex;
}
.modal .bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #303030ae;
    backdrop-filter: blur(5px);
}
.modal .center{
    background-color:var(--bg-modal-Color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    z-index: 10;
}

.modal .center input, textarea{
    background-color: var(--bg-task-Color);
    border: none;
    padding: var(--padding-sm) var(--padding-md);
    color: var(--primary-Color);
}
.modal .center button{
    background-color: var(--bg-addTask-buttton);
    border: none;
    border-radius: var(--border-radius-s);
    padding: var(--padding-sm) var(--padding-md);
    color: var(--primary-Color);
    font-weight: 700;
}