/* ===Basic Css Code=== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1611928482473-7b27d24eab80?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWR5JTIwd2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===Reusablility === */
.btn {
    padding: 3px 5px;
    border: none;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.30);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexCol {
    display: flex;
    flex-direction: column;

}

.blury {
    background-color: rgba(255, 255, 255, 0.082);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 40px;
    margin: 10px 0;
    min-width: 400px;
}

header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
}

header input {
    color: black;
    border: none;
    width: 250px;
    height: 30px;
    background-color: rgb(255, 255, 255, 0.30);
    padding: 3px 5px;
    border-radius: 7px;
}

header input:focus {
    outline: none;
}

main {
    padding: 30px;
    overflow: hidden;
}

.topSection img {
    width: 100px;
}

.text {
    color: rgb(181, 178, 178);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text span:nth-child(2) {
    font-size: 22px;
    color: white;
}

.topSection {
    margin-bottom: 20px;
}
