*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #222;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 40px;
}
.parent-Container{
    width: 100%;
    border-radius: 20px;
    background-color:#333;
    padding: 10px 20px;
}
.parent-Container h1{
    text-align: center;
    letter-spacing: 1.6px;
    word-spacing: 2px;
    margin: 20px 0;
}
.input-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 40px;
}
#taskInput{
    width: 400px;
    padding: 4px 6px;
    border: 1px solid gray;
    background-color: #444;
    font-size: 18px;
    border-radius: 5px;
}
.btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.btn-3:hover {
  background-color: #2c974b;
}
.Task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    margin: 10px auto;
    padding:  20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.card{
    background-color: #539c9e;
    color: black;
    font-size: 22px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 8px  15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
#date{
    background-color: #539c9e;
    border: none;
    font-size: 16px;
}
.completed{
text-decoration: line-through;
}