/* --------Root---------- */
:root{
    --body-Color : #BADFDB;
    --font-Color : #444;
}

/* --------Basic--------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-Color);
    color: var(--font-Color);
    display: flex;
    align-items: center;
    justify-content: center;
}