/* ---root--- */
:root{
    --primary-Background-Color: #FCF5EE;
    --Primary-Color : #EE6983;
    --primary-Btn-Color : #FFC4C4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-Background-Color);
    color: whitesmoke;
    padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

/* reusability */
.btn{
    padding: 5px 8px;
    background-color: var(--primary-Btn-Color);
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    border-radius: 5px;
}

h1{
    color: var(--Primary-Color);
    font-size: 40px;
    text-transform: capitalize;
}
#textArea{
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);
}
#randomPara{
    color: black;
    font-size: 20px;
}
.correct{
    color: greenyellow;
}
.wrong{
    color: red;
}