/* ------------  Root  ----------- */
:root {
    --body-Color: #fff;
    --card-Color: rgb(255, 255, 255);
    --h1-COlor: #0F1A17;
}

/* ------------  Base  ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--body-Color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 2rem;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    background-color: #EFE9E3;
    width: 100%;
    padding: 0.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header ul {
    justify-content: space-around;
}

.logo-Sec {
    font-size: 1.8rem;
    gap: 1rem;
}

.logo-Sec img {
    width: 80px;
}

.li-Sec {
    gap: 4.5rem;
    font-size: 1.5rem;
}

.li-Sec a {
    color: black;
    text-decoration: none;
}

main {
    width: 100%;
    margin: 5rem 0;
}

.mainCard-Section {
    background-color: #EFE9E3 ;
    width: 100%;
    overflow: hidden;
    justify-content: space-evenly;
    border-radius: 2rem;
    margin: 3.5rem 0;
}

.img-Section {
    min-width: 45rem;
    overflow: hidden;
}

.text-Section {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.img-Section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-Section h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7rem;
    flex-direction: column;
    letter-spacing: 5px;
    color: #b79678;
}

.text-Section p {
    word-spacing: 0.6rem;
    font-size: 2rem;
    color: gray;
    text-align: justify;
    margin-bottom: 3rem;
}

.text-Section button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #F9F8F6;
    font-weight: 700;
}

.text-Section button a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}
.explore-Section{
    padding: 1rem 0;
    width: 100%;
    height: auto;
}
.explore-Section h2{
    font-size: 3rem;
    word-spacing: 0.4rem;
    letter-spacing: 1.8px;
}
.grid-Container{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
.grid-Container .card{
    overflow: hidden;
    width: 300px;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
}
.card .card-img{
    width: 100%;
    overflow: hidden;
}
.card-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}
.card-Text{
    padding: 1rem;
    line-height: 2.5rem;
}
.card-Text h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.card-Text p{
    font-size: 1.6rem;
}
.card-Button button{
    padding: 1rem 1.5rem;
    background-color: #c7a98c;
    border: none;
    color: white;
    font-weight: 600;
    letter-spacing: 1.2px;
    border-radius: 0.5rem;
}
.card-Button{
    text-align: end;
    margin: 1rem;
}
.search-Section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
    margin-bottom: 2rem ;
}
#searchBar{
    width: 50rem;
    padding: 1rem 1.3rem;
    border-radius: 1rem;
    border: 1px solid rgb(208, 208, 208);
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}