/*------------ Base/reset ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

/* ------------- Navbar ------------- */
.section-Navbar {
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.left-Content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-Content img {
  width: 15rem;
  fill: #fff;
}

.left-Content input {
  width: 40rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(203, 203, 203);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right-Content {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.8rem;
}

.right-Content img {
  width: 2rem;
}

.top-Bar {
  width: 100%;
  padding: 0.5rem 1rem;
  overflow: hidden;
  background: #8c8c8c;
  background: linear-gradient(90deg, rgba(140, 140, 140, 1) 13%, rgba(120, 120, 120, 1) 48%, rgba(85, 85, 85, 1) 91%);
  position: relative;
}

.background-Text {
  background-color: transparent;
  width: 100%;
  height: 45rem;
  overflow: hidden;
}

.background-Text h1 {
  position: absolute;
  font-weight: 700;
  font-size: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: #E8D1C5;
  letter-spacing: 1.2rem;
  z-index: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.background-Text img {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-Section ul {
  margin: 2rem 3rem;
  display: flex;
  gap: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
}

.category-Section ul li {
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 0.3rem 0.6rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: background-Color 0.1s ease, transform 0.2s linear;
}

.category-Section ul li:hover {
  background-color: #e1e0e0;
  transform: translateY(-2px);
  box-shadow: rgba(234, 234, 234, 0.19) 0px 5px 7px, rgba(0, 0, 0, 0.23) 0px 3px 5px;
}

.main-Body {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  gap: 3rem;
}

.aside-Container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #c5c5c5;
  border-radius: 1rem;
  padding: 0.6rem;
  width: 37rem;
  height: fit-content;
}

.price-Filter-Section {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 1.4rem;
}

.price-Filter-Section input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  background-color: transparent;

  &:focus {
    outline-color: #f8b195;
  }
}

.price-Filter-Section input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background: linear-gradient(90deg,
      rgba(140, 140, 140, 1) 13%,
      rgba(120, 120, 120, 1) 48%,
      rgba(85, 85, 85, 1) 91%);
}

.price-Filter-Section input[type="range"]::-moz-range-track {
  height: 3px;
  background: linear-gradient(90deg,
      rgba(140, 140, 140, 1) 13%,
      rgba(120, 120, 120, 1) 48%,
      rgba(85, 85, 85, 1) 91%);
}

.price-Filter-Section input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  bottom: 0.8rem;
  background: #555 url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png") center no-repeat;
  background-size: 50%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.cart {
  width: 100%;
  padding: 0.6rem;
  background-color: #fff;
  font-size: 2rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
}

.cart .productName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

.product-Quantity {
  color: #555;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.grant-Total {
  border-top: 2px solid black;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
.grid-Container{
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem,1fr));
  gap: 4rem;
  padding: 0.5rem;
  overflow: auto;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.img-Container{
  padding: 1rem;
  width: 100%;
  height: 20rem;
}
.img-Container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3rem;
}
.product-Details{
  text-align: start;
  padding: 0 2rem;
  background-color: #fff;
}
.product-Details h3{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.product-Details p{
  font-size: 1.7rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.product-Details .price-tag{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.end-row{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.buy-Now-Button{
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #555;
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  letter-spacing: 1.55px;
  font-size: 1.5rem;
}
.buy-Now-Button:hover{
  background-color: black;
}
.qty{
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}
.qty button{
  background-color: #fff;
  border: 1px solid rgb(206, 206, 206);
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  font-size: 2rem;
}
.qty span{
  font-size: 3rem;
}
.loadBtn{
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  border-radius: 0.8rem;
}

